# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# build
dist
gen

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.cache
.next
out
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.*

# turbo
.turbo

# env
.env.*
.vercel
.vscode

*.old
*.cache
.cache
.trigger
tsconfig.tsbuildinfo

# xmtp local 
xmtp-production-*
xmtp-development-*
.data/

.ponder/
scratchpad.md